.btn-delete {
	display: inline-block;
	margin: 20px 0;
	background-color: red;
	border-color: black;
	border-width: 2px;
	color:white;
}

.btn-delete:hover {
	background-color: #E32636;
	border-color: black;
	color:white;
}

.btn-delete:focus {
	background-color: red,
	outline:none;
	color: white;
}
